@import "tailwindcss";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

@layer base {
    :root {
        color-scheme: dark;
    }

    body {
        @apply bg-[#030712] text-slate-200;
        margin: 0;
        min-height: 100vh;
    }

    button,
    [type='button'],
    [type='reset'],
    [type='submit'],
    [role='button'],
    a {
        cursor: pointer;
    }
}