@import "tailwindcss";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

@layer base {

    button,
    [type='button'],
    [type='reset'],
    [type='submit'],
    [role='button'],
    a {
        cursor: pointer;
    }
}