# # Docs for the Azure Web Apps Deploy action: https://github.com/azure/functions-action
# # More GitHub Actions for Azure: https://github.com/Azure/actions
# # More info on Python, GitHub Actions, and Azure Functions: https://aka.ms/python-webapps-actions

# name: Build and deploy Python project to Azure Function App - func-learn-ai

# on:
#   push:
#     branches:
#       - main
#     paths:
#       - 'backend/**'
#   workflow_dispatch:

# env:
#   AZURE_FUNCTIONAPP_PACKAGE_PATH: 'backend'
#   PYTHON_VERSION: '3.12'

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     permissions:
#       contents: read  #required for actions/checkout

#     steps:
#       - name: Checkout repository
#         uses: actions/checkout@v4

#       - name: Setup Python version
#         uses: actions/setup-python@v5
#         with:
#           python-version: ${{ env.PYTHON_VERSION }}

#       - name: Create and start virtual environment
#         run: |
#           python -m venv venv
#           source venv/bin/activate

#       - name: Install dependencies
#         run: |
#           pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
#           python -m pip install --upgrade pip
#           pip install -r requirements.txt --target=".python_packages/lib/site-packages"
#           popd

#       # Optional: Add step to run tests here

#       - name: Zip artifact for deployment
#         run: zip release.zip ./* -r

#       - name: Upload artifact for deployment job
#         uses: actions/upload-artifact@v4
#         with:
#           name: python-app
#           path: |
#             release.zip
#             !venv/

#   deploy:
#     runs-on: ubuntu-latest
#     needs: build
#     permissions:
#       id-token: write #This is required for requesting the JWT
#       contents: read #This is required for actions/checkout

#     steps:
#       - name: Download artifact from build job
#         uses: actions/download-artifact@v4
#         with:
#           name: python-app

#       - name: Unzip artifact for deployment
#         run: |
#           unzip release.zip
#           rm release.zip
        
#       - name: Login to Azure
#         uses: azure/login@v2
#         with:
#           client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_85C3690CA2F045B0A0698CB0B85737BA }}
#           tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_21B7AF94CB644A279372A28B1343A1B5 }}
#           subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_F9F747B39B3A4BC8AD208565B6C1E4B4 }}

#       - name: 'Deploy to Azure Functions'
#         uses: Azure/functions-action@v1
#         id: deploy-to-function
#         with:
#           app-name: 'func-learn-ai'
#           slot-name: 'Production'
#           package: ${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}
          